body{
    font-family: 'Montserrat', 'Poppins';
    margin: 2px;
    font-style: normal;
}

.menu-1{
	height: 90px;
}

#menu{
	list-style-type:none;
	width:900px;
	margin:20px auto;
}

#menu li{
	float:right;
}

#menu li a{
	color:black;
	text-decoration:none;
	padding:5px 10px;
}

h1{
    font-size: 47px;
    width: 700;
}

h2{
    font-size: 40px;
}

.flexiable-container{
    display: flex;
    margin-bottom: 100px;
}

.about{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}

.name-highlight{
    color: #FF8367;
}

.half-width-img img{
    padding-top: 5%;
    width: 30%;
    float: left;
    margin-left: 18%;
}

.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 95%;
}

section{
    height: 450px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(138, 48, 12), rgb(247, 141, 123));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

#head-center{
    text-align: center;
    padding: 15px;
}

.experience-area{
    width: 1440px;
    height: 814px;
}

.center {
    display: block;
    margin-left:-15px;
    margin-top: 15px;
    width: 50%;
}

.orange-highlight{
    color: orange;
}

.single-experience{
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
	height: 50%;
	width: 23%;
}

#first-project{
    background-color: white;
}

#next-project{
	background-color: white;
}

#higher{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
    background-color: white;
    height: 55%;
	width: 25%;
}

#others{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    background-color: white;
    height: 55%;
	width: 25%;
}

.review{
    background-color: #8a6363;
    margin-bottom: 150px;
}

#text-aline-center{
    text-align: center;
}

.blue-highlight{
    color:rgba(0, 0, 139, 0.705);
}

.lowest-banner{
    background-image:linear-gradient(180deg, rgb(253, 231, 215), rgb(214, 208, 207));
    width: 85%;
    height: 180px;
    margin-left: 80px;
    margin-bottom: 100px;
    border-radius: 15px;
}

.low-mid h2{
    margin-left: 115px;
    color: black;
    padding-top: 30px;
    float: left;
    display: block;
}

.low-mid {
    margin-left: 80px;
    color: black;
    float: left;
    display: block;
    line-height: 20px;
}

footer{
    background-color: black;
    padding: 20px;
    height: 150px;
}

footer h2{
    text-align: center;
    font-size: 25px;
    color: wheat;
    margin-bottom: 10px;
}

footer p{
    text-align: center;
    font-size: 15px;
    color: wheat;
}
